<div id="task-view" class="modal slide-in-up" ng-controller="NewRuleCtrl">
    <header class="bar bar-header bar-secondary">
      <h1 class="title">New Rule</h1>
      <button class="button button-clear button-primary" ng-click="close()">Cancel</button>
    </header>
    <ion-content class="padding has-header">
	
		<div class="card">
			<form>
			  <div class="item item-divider">
					<a href="#" ng-click="showTriggers();" class="right"><i class="icon ion-edit"></i></a>
					<i class="icon {{triggerLogo}}"></i>
			  	{{rule.trigger.label}}
				
			  </div>
			  <div class="item item-text-wrap padding">
	        <ng-include src="triggerTemplate()">
			  </div>
			</div>

			<div class="card">
			  <div class="item item-divider">
					<a href="#" ng-click="showActions();" class="right"><i class="icon ion-edit"></i></a>
					<i class="icon {{actionLogo}}"></i>
			  	{{rule.action.label}}
			  </div>
			  <div class="item item-text-wrap padding">
				
				  <div class="item item-text-wrap padding">
		        <ng-include src="actionsTemplate()">
				  </div>
							  
			  </div>
			</form>
		</div>
		
		<pre>form = {{rule | json}}</pre>
		<pre>master = {{master | json}}</pre>
			  
    <button class="button button-primary button-block button-positive" ng-click="save()">Save</button>
	  
    </ion-content>
	
	
	
	
</div>
