<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <label class="item item-input item-floating-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Username" ng-model="username">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="password">
      </label>
      <a href="#" class="item item-icon-left assertive" ng-click="login()">
        <i class="icon ion-refresh"></i> Update Settings
      </a>
    </ion-list>
  </ion-content>
</ion-view>
