
<ion-view view-title="Rules">
  <ion-content>  
    <ion-list>
			<div class="item item-divider">
				<button class="button icon-left ion-plus right button-positive" ng-click="newRule()">New</button>
		  </div>

      <ion-item class="" type="item-text-wrap" ng-repeat="rule in rules" href="#/tab/rule/{{rule.id}}">
				<a class="button icon button-small ion-edit" href="#/tab/rule/{{rule.id}}" style="float:right"></a>
				
			  <div class="event">
					<span>{{rule.trigger.label}}</span>
					<span class="option">{{ rule.trigger.options.location }} {{rule.trigger.options.level}}</span>
				</div>
			  <div class="action">
					<span>{{rule.action.label}}</span>
				</div>
		
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
