<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light" tabs-type="tabs-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Map" icon-off="ion-map" icon-on="ion-map" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Rules Tab -->
  <ion-tab title="Rules" icon-off="ion-wand" icon-on="ion-wand" href="#/tab/rules">
    <ion-nav-view name="tab-rules"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Stations" icon-off="ion-flag" icon-on="ion-flag" href="#/tab/stations">
    <ion-nav-view name="tab-stations"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
