	<div class="list list-inset">
		<label class="item item-input item-select">
	    <div class="input-label">
				Select Station 
	    </div>

			<select ng-options="station.name for station in stations" ng-model="rule.action.option.which">
				<option value="">-- Choose a Station --</option>
			</select>
		 </label>
	</div>
	
	<div class="list list-inset">
		<label class="item item-input item-select">
	    <div class="input-label">
				Time 
	    </div>

			<select ng-model="rule.action.option.when">
				<option value="now">Now</option>
				<option value="in-15">In 15 mins</option>
				<option value="in-30">In 30 mins</option>
				<option value="in-60">In 1 hour</option>
			</select>
		 </label>
	</div>
	