<form>
	<div class="list list-inset">
		<label class="item item-input item-select">
	    <div class="input-label">
				Select Station 
	    </div>
			<select ng-options="station.name for station in stations" ng-model="rule.trigger.options.station">
				<option value="">-- Choose a Station --</option>
			</select>
		 </label>
	</div>
	
	<div class="list list-inset">
		<label class="item item-input item-select">
	    <div class="input-label">
				Status 
	    </div>

			<select ng-model="rule.trigger.option.available">
				<option value="available">Available</option>
				<option value="available">Not Available</option>
			</select>
		 </label>
	</div>
	
</form>
