<form>
		<div class="row">
		  <div class="col col-80">
				<label class="item item-input item-select" >
				    <div class="input-label">
							Battery Level 
				    </div>
				    <select ng-model="rule.trigger.options.above">
				      <option>is Above</option>
				      <option>is Below</option>
				    </select>
				  </label>
		  </div>
		  <div class="col" ng-init="rule.trigger.options.level=80">
		  	<input type="text" ng-model="rule.trigger.options.level">
		  </div>
		</div>
		
		<div class="item range range-positive">
		    <i class="icon ion-ios7-bolt-outline"></i>
		    <input type="range" name="volume" min="0" max="100" ng-model="rule.trigger.options.level">
		    <i class="icon ion-ios7-bolt"></i>
		</div>
</form>
