/* Empty. Add your own CSS if you like */
.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: #000000;
}

.scroll-content, .modal, .modal-backdrop {
		background: #E7E7E7 !important;
}

.right {
	clear:both;
	display:block;
	float:right;
}

.action-icon {
	position:absolute; 
	left:10px;
}
