/* Empty. Add your own CSS if you like */
.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: #000000;
}

.scroll-content, .modal, .modal-backdrop {
		background: #f8f8f8 !important;
}

.right {
	clear:both;
	display:block;
	float:right;
}
